.function{
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .col{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .title-decor{margin-bottom: 25px;}
        
        & > .b1{
            max-width: 500px;
            color: $color-text_secondary;
            margin-bottom: 60px;
        }
        ul{
            text-align: left;
            display: flex;
            flex-direction: column;
            gap: 50px;
            margin-bottom: 70px;
            
            li{
                font-size: 18px;
                font-weight: $fw_bold;

                span{font-weight: $fw_regular;}
            }
        }
        .warning{margin-bottom: 60px;}
    }

    &__actions{
        display: flex;
        align-items: center;
        gap: 24px;
    }
    .select-platform{margin-bottom: 40px;}
}

.warning{
    display: flex;
    align-items: center;       
    gap: 20px;
    color: $color-text_secondary;
    padding: 26px 30px;
    background-color: $color-white_solid;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
}