.function{
    padding-top: 40px;

    .container{
        display: grid;
        grid-template-columns: 570px 640px;
        grid-template-rows: auto;
        column-gap: 90px;
        align-items: start;
    }

    &__col{
        grid-row-start: 1;
        grid-row-end: 5;
    }
    &__header{
        grid-column-start: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 60px;

        h2{margin-bottom: 25px;}

        .b1{
            max-width: 500px;
            color: $color-text_secondary;
        }
    }

    &__description{
        grid-column-start: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;

        &-title{
            font-size: 16px;
            font-weight: $fw_extrabold;
            margin-bottom: 30px;
            display: none;
        }
    }

    &__actions{
        grid-column-start: 2;
        display: flex;
        justify-content: center;
        display: flex;
        align-items: center;
        gap: 24px;
    }

    ul{
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-bottom: 60px;

        li{
            font-size: 18px;
            font-weight: $fw_bold;
            position: relative;
            padding-left: 24px;

            span{font-weight: $fw_regular;}

            &::before{
                content: "";
                position: absolute;
                top: 4px;
                left: 0;
                display: block;
                width: 10px;
                height: 10px;
                transform: rotate(-45deg);
                background-color: $color-orange_solid;
            }
        }
    }

    .select-platform{margin-bottom: 40px;}
}

.warning{
    display: flex;
    align-items: center;       
    gap: 20px;
    color: $color-text_secondary;
    padding: 26px 30px;
    background-color: $color-white_solid;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
}

@media (max-width: $point_xxl){
    .function{
        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__col{
            width: 100%;
            order: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;
        }
        &__header{
            order: 1;
        }
        &__description{
            order: 3;
            ul{margin-bottom: 0;}
            &-title{display: block;}
            .warning{display: none;}
        }
        &__actions{
            order: 4;
        }
    }
}

@media (max-width: $point_md){
    .function{
        &__header{
            h2{font-size: 30px;}
            .b1{font-size: 12px;}
        }
    }
}