.dropdown{
    position: relative;
    max-width: 150px;

    &__header{
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 16px 19px;
        border-radius: 5px;
        background-color: $color-white_solid;
    }
    &._open &__body{display: flex;}

    &__body{
        position: absolute;
        top: 110%;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        overflow: hidden;
        background-color: $color-white_solid;
        display: none;
    }
    &__option{
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 16px 19px;
        transition: .3s;

        &:hover{background-color: $color-grey_solid;}
    }
    &__text{
        font-size: 17px;
        font-weight: $fw_bold;
    }
}