mixin nav()
    nav.nav
        ul.nav__wrapper 
            li
                a(href="#") ГЛАВНАЯ
            li
                a(href="#") ТАРИФЫ
            li
                a(href="#") ОТЗЫВЫ
            li
                a(href="#") FAQ
            li
                a(href="#") КОНТАКТЫ
            li
                a(href="#") ФУНКЦИОНАЛ