mixin nav()
    nav.nav
        ul.nav__wrapper 
            li
                a(class="nav__link", href="#", data-scroll-to=".hero") ГЛАВНАЯ
            li
                a(class="nav__link", href="#", data-scroll-to=".tariffs") ТАРИФЫ
            li
                a(class="nav__link", href="#", data-scroll-to=".reviews") ОТЗЫВЫ
            li
                a(class="nav__link", href="#", data-scroll-to=".faq") FAQ
            li
                a(class="nav__link", href="#", data-scroll-to=".contacts") КОНТАКТЫ
            li
                a(class="nav__link", href="#", data-scroll-to=".function") ФУНКЦИОНАЛ