.button_play{
    padding: 0px 29px;
    background: $color-red_solid;;

    svg{
        width: 33px;
        height: 33px;
    }
}

@media (max-width: $point_md){
    .button_play{
        
        svg{
            width: 32px;
            height: 18px;
        }
    }
}