.title-decor{
    &_between{
        &::after{
            top: -6px;
            left: -6px;
        }
        &::before{
            top: auto;
            left: auto;
            bottom: -6px;
            right: -6px;
        }
    }
}
