.faq{
    padding-top: 60px;
    padding-bottom: 40px;

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2{margin-bottom: 90px;}
    
    &__body{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        margin-bottom: 45px;
    }
    &-tabs{margin-bottom: 45px;}
    
    a{
        font-size: 18px;
        font-weight: $fw-medium;
        color: $color-blue_solid;
        text-decoration: underline;
    }
}

@media (max-width: $point_md) {
    .faq{
        padding-top: 40px;

        h2{margin-bottom: 45px;}
    }
}

@media (max-width: $point_sm) {
    .faq{
        h2{
            font-size: 26px;
        }
        h5{font-size: 13px;}
        .b2{font-size: 11px;}
    }
}
