include ../tabs/tabs.pug

section.faq.outer 
    .container
        +title-decor("title-decor_between title-decor_one-blue")
            h2 Частые вопросы

        +tabs("faq", [
            {title: "Какие у нас есть гарантии?", body: "Мы официальные диллеры данного чита. Нам доверяет огромное количество людей. Также, Вы можете посмотреть представленные скриншоты читов выше."},
            {title: "Как устанавливаются читы?", body: "Мы официальные диллеры данного чита. Нам доверяет огромное количество людей. Также, Вы можете посмотреть представленные скриншоты читов выше."},
            {title: "Что я получу после оплаты тарифа?", body: "Мы официальные диллеры данного чита. Нам доверяет огромное количество людей. Также, Вы можете посмотреть представленные скриншоты читов выше."},
            {title: "Что такое DPI+, ASN, SKK?", body: "Мы официальные диллеры данного чита. Нам доверяет огромное количество людей. Также, Вы можете посмотреть представленные скриншоты читов выше."},
            {title: "Влияют-ли читы на FPS в игре?", body: "Мы официальные диллеры данного чита. Нам доверяет огромное количество людей. Также, Вы можете посмотреть представленные скриншоты читов выше."},
        ])
        a(href="#") У меня есть вопрос