section.faq.outer 
    .container
        +title-decor("title-decor_between title-decor_one-blue")
            h2 Частые вопросы
        .faq__body
            .faq__question.question
                .question__header 
                    h5 Какие у нас есть гарантии?
                    button.question__icon
                .question__body 
                    +b2("Мы официальные диллеры данного чита. Нам доверяет огромное количество людей. Также, Вы можете посмотреть представленные скриншоты читов выше.")
            .faq__question.question
                .question__header 
                    h5 Как устанавливаются читы?
                    button.question__icon
                .question__body 
                    +b2("Мы официальные диллеры данного чита. Нам доверяет огромное количество людей. Также, Вы можете посмотреть представленные скриншоты читов выше.")
            .faq__question.question
                .question__header 
                    h5 Что я получу после оплаты тарифа?
                    button.question__icon
                .question__body 
                    +b2("Мы официальные диллеры данного чита. Нам доверяет огромное количество людей. Также, Вы можете посмотреть представленные скриншоты читов выше.")
            .faq__question.question
                .question__header 
                    h5 Что такое DPI+, ASN, SKK?
                    button.question__icon
                .question__body 
                    +b2("Мы официальные диллеры данного чита. Нам доверяет огромное количество людей. Также, Вы можете посмотреть представленные скриншоты читов выше.")
            .faq__question.question
                .question__header 
                    h5 Влияют-ли читы на FPS в игре?
                    button.question__icon
                .question__body 
                    +b2("Мы официальные диллеры данного чита. Нам доверяет огромное количество людей. Также, Вы можете посмотреть представленные скриншоты читов выше.")

        a(href="#") У меня есть вопрос