.hero{
    padding-top: $header-height + 99px;
    background: url("../../assets/images/hero/bg.jpg") center center/cover no-repeat;
    color: $color-text_white;
    position: relative;

    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 19%;
        width: 100%;
        background: url("../../assets/images/hero/linear.png") center center/cover no-repeat;
    }
    .offer{
        max-width: 618px;

        .b1+.b1{margin-top: 30px;}
        .b1{
            margin-bottom: 46px;
            line-height: 1.5;
        }
        h1{
            max-width: 611px;
            margin-bottom: 30px;
            padding-bottom: 30px;
            position: relative;

            &::after{
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                height: 5px;
                width: 110px;
                background: $color-orange_linear;
            }
        }
    }
    &__img{
        position: relative;
        z-index: 5;

        img{max-width: 100%;}

        &_car{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            width: 1048px;

        }
        &_kit{
            left: -10vw;
        }
    }
}

@media (max-width: $point_xxxl){
    .hero{
        &__img{
            &_kit{
                left: 0;
            }
        }
    }
}

@media (max-width: $point_xxl){
    .hero{
        &__body{
            display: flex;
            justify-content: center;
            text-align: center;
        }
        .offer{
            h1{
                margin-bottom: 30px;
                padding-bottom: 30px;
                position: relative;
    
                &::after{
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
        &__img{
            &_car{display: none;}
        }
    }
}