section.hero.outer 
    .container
        .hero__body
            .offer
                h1
                    +title-decor("ЧИТЫ НА ")
                    <svg width="211" height="43" viewBox="0 0 211 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M40.561 22.3939L41.7419 1.26174L61.7646 21.217L40.561 22.3939Z" fill="#04FFFF"/>
                        <path d="M61.561 21.5458L62.8561 0.299805L82.8788 20.255L61.561 21.5458Z" fill="white"/>
                        <path d="M60.0082 42.3233L61.229 21.1515L81.2517 41.1067L60.0082 42.3233Z" fill="#FF9B05"/>
                        <path d="M106.899 40.77C101.216 40.77 96.7792 39.2116 93.5892 36.095C90.3992 32.9783 88.8042 28.56 88.8042 22.84V1.49995H99.6942V22.51C99.6942 25.81 100.336 28.175 101.619 29.605C102.939 31.035 104.736 31.75 107.009 31.75C109.282 31.75 111.061 31.035 112.344 29.605C113.628 28.175 114.269 25.81 114.269 22.51V1.49995H124.994V22.84C124.994 28.56 123.399 32.9783 120.209 36.095C117.019 39.2116 112.583 40.77 106.899 40.77Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.564819 40V1.49995H18.1648C21.6848 1.49995 24.7098 2.06828 27.2398 3.20495C29.8065 4.34162 31.7865 5.99162 33.1798 8.15495C34.5732 10.2816 35.2698 12.8116 35.2698 15.745C35.2698 18.6416 34.5732 21.1533 33.1798 23.28C31.7865 25.4066 29.8065 27.0566 27.2398 28.23C24.7098 29.3666 21.6848 29.935 18.1648 29.935H11.4548V40H0.564819ZM22.5648 19.87C21.4648 20.86 19.7782 21.355 17.5048 21.355H11.4548V10.08H17.5048C19.7782 10.08 21.4648 10.575 22.5648 11.565C23.7015 12.555 24.2698 13.9483 24.2698 15.745C24.2698 17.505 23.7015 18.88 22.5648 19.87Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M132.371 40V1.49995H152.061C157.121 1.49995 160.898 2.43495 163.391 4.30495C165.885 6.13828 167.131 8.55828 167.131 11.565C167.131 13.545 166.6 15.2866 165.536 16.79C164.653 18.052 163.444 19.0969 161.909 19.9246C162.151 20.0107 162.389 20.1025 162.621 20.2C164.638 21.0066 166.196 22.1983 167.296 23.775C168.433 25.315 169.001 27.2033 169.001 29.44C169.001 32.7766 167.645 35.38 164.931 37.25C162.255 39.0833 158.331 40 153.161 40H132.371ZM152.281 32.135H143.151V24.325H152.281C154.151 24.325 155.563 24.655 156.516 25.315C157.506 25.9383 158.001 26.91 158.001 28.23C158.001 29.55 157.506 30.54 156.516 31.2C155.563 31.8233 154.151 32.135 152.281 32.135ZM154.756 15.855C153.84 16.4783 152.465 16.79 150.631 16.79H143.151V9.36495H150.631C152.465 9.36495 153.84 9.67662 154.756 10.3C155.673 10.8866 156.131 11.8033 156.131 13.05C156.131 14.2966 155.673 15.2316 154.756 15.855Z" fill="white"/>
                        <path d="M185.422 39.34C188.025 40.2933 190.849 40.77 193.892 40.77C196.679 40.77 199.52 40.3483 202.417 39.505C205.314 38.6616 207.862 37.4516 210.062 35.875V19.925H200.437V30.5003C200.051 30.683 199.666 30.8429 199.282 30.98C197.742 31.4933 196.165 31.75 194.552 31.75C192.939 31.75 191.454 31.4933 190.097 30.98C188.777 30.43 187.64 29.6783 186.687 28.725C185.734 27.735 184.982 26.5616 184.432 25.205C183.919 23.8483 183.662 22.3633 183.662 20.75C183.662 19.0633 183.919 17.56 184.432 16.24C184.982 14.8833 185.734 13.7283 186.687 12.775C187.64 11.785 188.795 11.0333 190.152 10.52C191.509 10.0066 193.012 9.74995 194.662 9.74995C196.532 9.74995 198.219 10.1166 199.722 10.85C201.262 11.5466 202.692 12.61 204.012 14.04L210.942 7.76995C209.072 5.49662 206.707 3.75495 203.847 2.54495C200.987 1.33495 197.742 0.729951 194.112 0.729951C190.995 0.729951 188.117 1.22495 185.477 2.21495C182.874 3.16829 180.619 4.54328 178.712 6.33995C176.805 8.13662 175.32 10.2633 174.257 12.72C173.194 15.14 172.662 17.8166 172.662 20.75C172.662 23.6833 173.194 26.3783 174.257 28.835C175.32 31.255 176.787 33.3633 178.657 35.16C180.564 36.9566 182.819 38.35 185.422 39.34Z" fill="white"/>
                    </svg>  ЛУЧШИЕ НА РЫНКЕ БЕЗ БАНА!
                +b1("Лучшие сборки на рынке, проверенные опытом и временем, а также, оптимальное соотношение цены, надежности и производительности", "_fw-sb")
                +b1("Самая низкая цена за мегахеш", "_fw-sb")
                .actions
                    +button("Купить")
                    +button_border("Посмотреть видео")
            .hero__img.hero__img_car 
                img(src=require("../../assets/images/hero/car.png"), alt="Car")
        .hero__img.hero__img_kit
            img(src=require("../../assets/images/hero/kit.png"), alt="Kit")
    

