.button{
    height: 78px;
    border-radius: 5px;
    background: $color-orange_linear;
    color: $color-white_solid;
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 27px 34px;
    
    svg{fill: $color-white_solid;}
}