.button{
    height: 78px;
    border-radius: 5px;
    background: $color-orange_linear;
    color: $color-white_solid;
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 27px 34px;
    
    svg{fill: $color-white_solid;}
}

@media (max-width: $point_md){
    .button{
        gap: 13px;
        
        svg{
            width: 32px;
            height: 18px;
        }
    }
}


@media (max-width: $point_sm){
    .button{
        .bt1{font-size: 12px;}

        padding: 0px 25px;
        max-width: 144px;
        max-height: 54px;
    }
}