// include mixins
include ../../components/ui/button-text/bt1/bt1.pug
include ../../components/ui/button/_play/_play.pug
include ../../components/ui/button/_border/_border.pug
include ../../components/ui/button/button.pug
include ../../components/ui/body/b1/b1.pug
include ../../components/ui/body/b2/b2.pug
include ../../components/ui/dropdown/dropdown.pug
include ../../components/select-platform/select-platform.pug
include ../../components/slider/slider.pug

html(lang="ru")
    head
        meta(name="description", content="WEBPACK CONFIG LANDING")
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        link(href=require("../../assets/styles/styles.scss") rel="stylesheet")
        title WEBPACK CONFIG PUG 2023
    body
        .root
            include ../../components/header/header.pug
            main.page
                include ../../components/hero/hero.pug
                include ../../components/function/function.pug
                include ../../components/reviews/reviews.pug
                include ../../components/tariffs/tariffs.pug
                include ../../components/faq/faq.pug
            include ../../components/footer/footer.pug
        script(src=require("./main.js"))
        script(src=require("../../components/ui/dropdown/dropdown.js"))
        script(src=require("../../components/select-platform/select-platform.js"))
