.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: $header-height;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo{
        color: $color-text_white;
        font-size: 32px;
        font-weight: $fw_black;
    }
    .container{
        max-width: 1500px;
        display: flex;
        align-items: center;
    }
}
