include ./form-callback/form-callback.pug

footer.footer.outer 
    .container
        +title-decor()
            h2 КОНТАКТЫ
        .footer__body
            .footer__img 
                img(src="", alt="")
            +form-callback()(class="footer__form-callback")