.footer{
    padding-top: 70px;
    padding-bottom: 45px;
    background: url("../../assets/images/footer/bg.png") center center/cover no-repeat;

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title-decor{
        margin-bottom: 10px;

        &::before{z-index: -1;}
    }
    &::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 708px;
        
        z-index: -1;
    }

    &__img{
        max-width: 530px;
        position: relative;
        bottom: -145px;
        align-content: flex-end;

        img{
            width: 100%;
        }
        &-red-smoke{
            position: absolute;
            bottom: 35%;
            left: 25%;
            width: 350px;
            height: 442px;
        }
    }
    &__body{
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding-bottom: 145px;
    }
    &__form-callback{
        flex: 0 1 644px;
    }

}
