.footer{
    padding-bottom: 45px;
    position: relative;
    z-index: 1;

    .container{
        max-width: 1500px;
    }

    &__header-body{margin-bottom: 60px;}

    .copyright{
        font-size: 17px;
        text-align: center;
        color: $color-white_solid;
    }
}

@media (max-width: $point_xl){
    .footer{
        .header-body{display: none;}
    }
}
