include ./form-callback/form-callback.pug

footer.footer.outer 
    .container
        +title-decor()
            h2 КОНТАКТЫ
        .footer__body
            .footer__img
                .footer__img-box
                    img(src=require("../../assets/images/footer/box.png"), alt="Box")
                .footer__img-red-smoke
                    img(src=require("../../assets/images/footer/red-smoke.png"), alt="Red smoke")
            +form-callback()(class="footer__form-callback")
        include ../header/header.pug