include ./nav/nav.pug

mixin header-body(className)
    div(class=`${className}__header-body header-body`)
        button.menu__icon
            span
        a.logo(class="logo", href="#") EASYHACK
            .header-body__wrapper
                .menu 
                    +nav()
                +dropdown()(class=`language ${className}__language`)
