@import "fonts";
@import "nullstyles";
@import "vars";

body{
    font-family: $ff_primary;

    &._lock{overflow: hidden;}
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $fw_semibold;
    font-size: 55px;
}

h1,h2{font-weight: $fw_extrabold;}
h2{font-size: 45px;}
h3{font-size: 30px;}
h4{font-size: 21px;}
h5{font-size: 18px;}


.outer{
    padding-right: 30px;
    padding-left: 30px;
}


.container{
    width: 100%;
    max-width: 1330px;
    margin: 0 auto;
}

// MODS
// TEXT

// FONT-WEIGHT
._fw-sb{font-weight: $fw_semibold;}
._fw-r{font-weight: $fw_regular;}

// MODULES
@import "../../components/slider/slider.scss";
@import "../../components/ui/dropdown/dropdown.scss";

/* COMPONENTS */
@import "../../components/title-decor/title-decor.scss";
@import "../../components/title-decor/_between/title-decor_between.scss";
@import "../../components/title-decor/_one-blue/title-decor_one-blue.scss";
@import "../../components/header/header.scss";
@import "../../components/hero/hero.scss";
@import "../../components/footer/footer.scss";
@import "../../components/select-platform/select-platform.scss";

@import "../../components/function/function.scss";
@import "../../components/function/function-slider/function-slider.scss";

@import "../../components/reviews/reviews.scss";
@import "../../components/reviews/reviews-slider/reviews-slider.scss";

@import "../../components/tariffs/tariffs.scss";
@import "../../components/tariffs/__tariff/tariffs_tariff.scss";

/* UI */
@import "../../components/ui/button-text/bt1/bt1.scss";
@import "../../components/ui/button/button.scss";
@import "../../components/ui/button/_play/_play.scss";
@import "../../components/ui/button/_border/_border.scss";
@import "../../components/ui/body/b1/b1.scss";
@import "../../components/ui/body/b2/b2.scss";
