.title-decor{
    position: relative;
    
    &::before,
    &::after{
        content: "";
        position: absolute;
        transform: rotate(45deg);
        background-color: $color-orange_solid;
        width: 8px;
        height: 40px;
    }

    &::before{
        top: -10px;
        left: 0px;
    }
    &::after{
        top: -22px;
        left: -12px;
    } 
}

@media (max-width: $point_md){
    .title-decor{
        &::before,
        &::after{
            width: 4px;
            height: 20px;
        }

        &::before{
            top: -4px;
            left: -3px;
        }
        &::after{
            top: -10px;
            left: -8px;
        } 
    }
}