include ./__tariff/tariffs__tariff.pug

section.tariffs.outer 
    .container
        h2
            +title-decor("ТАРИФЫ")(class="title-decor_between")
       
        +select-platform("tariffs__select-platform")
        .tariffs__body 
            +tariffs__tariff("common")
            +tariffs__tariff("standart")
            +tariffs__tariff("pro")